<h3>Physical_Facilities</h3>
<MudStack Spacing="3" Style="margin-bottom: 10px;">
    <MudPaper>
        <MudSelect Value="PlotNumber"
                   Label="Bank"
                   FitContent="false"
                   Placeholder="Select plot"
                   Clearable="true">
            @foreach (var plot in PlotNumber)
            {
                <MudSelectItem Value="@plot">@plot</MudSelectItem>
            }
        </MudSelect>
    </MudPaper> 
</MudStack>

@code {
    [Parameter] public string[] PlotNumber { get; set; }
}