@page "/admin"
@using JaggaKittaApp.Constants
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = ApplicationRoleConstants.Admin)]
@layout AdminLayout
<h3>Dashboard</h3>

@code {
    
}